In [3]:
pip install nba_api

Requirement already satisfied: nba_api in c:\users\usuario\appdata\local\programs\python\python38\lib\site-packages (1.1.9)
Requirement already satisfied: requests in c:\users\usuario\appdata\local\programs\python\python38\lib\site-packages (from nba_api) (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\usuario\appdata\local\programs\python\python38\lib\site-packages (from requests->nba_api) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\usuario\appdata\local\programs\python\python38\lib\site-packages (from requests->nba_api) (2.0.6)
Requirement already satisfied: idna<4,>=2.5 in c:\users\usuario\appdata\local\programs\python\python38\lib\site-packages (from requests->nba_api) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\usuario\appdata\local\programs\python\python38\lib\site-packages (from requests->nba_api) (2021.5.30)
Note: you may need to restart the kernel to use updated packages.

In [5]:
from nba_api.stats.static import teams

import pandas as pd

nba_teams = teams.get_teams()

nba_teams[:5]

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Atlanta',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970},
 {'id': 1610612740,
  'full_name': 'New Orleans Pelicans',
  'abbreviation': 'NOP',
  'nickname': 'Pelicans',
  'city': 'New Orleans',
  'state': 'Louisiana',
  'year_founded': 2002},
 {'id': 1610612741,
  'full_name': 'Chicago Bulls',
  'abbreviation': 'CHI',
  'nickname': 'Bulls',
  'city': 'Chicago',
  'state': 'Illinois',
  'year_founded': 1966}]

In [13]:
def one_dict(list_dict):
    keys = list_dict[0].keys()
    out_dict = {key:[] for key in keys}
    for dict_ in list_dict:
        for key, value in dict_.items():
            out_dict[key].append(value)
    return out_dict

dict_nba_team = one_dict(nba_teams)

def_teams = pd.DataFrame(dict_nba_team)
def_teams.head()

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966

In [27]:
df_warriors = def_teams[def_teams['nickname']=='Warriors']
df_warriors
#id_warriors = df_warriors[['id']].values[0][0]

,id,full_name,abbreviation,nickname,city,state,year_founded
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946

In [29]:
from nba_api.stats.endpoints import leaguegamefinder
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=id_warriors)

games = gamefinder.get_data_frames()[0]
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,12021,1610612744,GSW,Golden State Warriors,0012100008,2021-10-04,GSW @ POR,W,239,121,...,0.765,10.0,37.0,47.0,32,17,4,12,18,14.0
1,22021,1610612744,GSW,Golden State Warriors,1522100073,2021-08-17,GSW vs. LAL,L,200,76,...,0.750,13.0,31.0,44.0,19,11,10,22,18,6.2
2,22021,1610612744,GSW,Golden State Warriors,1522100059,2021-08-15,GSW @ NOP,L,210,79,...,0.733,11.0,34.0,45.0,19,10,6,19,20,-1.0
3,22021,1610612744,GSW,Golden State Warriors,1522100041,2021-08-13,GSW @ OKC,W,199,94,...,0.778,6.0,32.0,38.0,20,10,10,7,15,8.8
4,22021,1610612744,GSW,Golden State Warriors,1522100027,2021-08-11,GSW vs. TOR,W,200,90,...,0.680,12.0,25.0,37.0,18,10,5,14,23,6.0